@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul{
  list-style-type: none;
}
.container{
  max-width: 1100px;
  width:70%;
  margin: 0 auto;
}

main{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:1rem;
  padding:50px 0
}
.button{
  padding:10px 30px;
  background-color:bisque;
  margin-top:20px;
  display:block;
  color:#fff;
}